<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ventiqa|Mystic</title>
    </head>
    <body>
        <h1>Ventiqa</h1>
        {% load static %}
        <img src={% static 'Ventiqa_Blue.png' %} alt="Ventiqa Logo">
        <div>
            <h2>Mystic</h2>
            <ul>
                {% for duration,price in subscription_prices.items %}
                    <li>
                        <p>{{duration}} - {{price}}</p>
                        <button>buy now</button>
                    </li>
                {% endfor %}

        </div>
    </body>
</html>
