<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ventiqa|Mystic</title>
  </head>
  <body>
    {% comment %} <h1>{{ product.name }}</h1>

    {% for subscription in subscriptions %}
    <h2>{{ subscription.duration }} months - ${{ subscription.price }}</h2>
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" value="Buy" />
    </form>
    {% empty %}
    <p>No subscriptions available for this product.</p>
    {% endfor %} {% endcomment %}
    <h1>Products</h1>
  <ul>  
      <li>
        <h2>{{ product.name }}</h2>
        {% for subscription in subscriptions %}
            
              Subscription: {{ subscription.duration }} months for ${{ subscription.price }}
              <a href="checkout/{{subscription.subscription_id}}">Buy now</a>
            
        {% endfor %}
      </li>
  </ul>
  </body>
</html>
