<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ventiqa|Mystic</title>
  </head>
  <body>
    <h1>{{ product.name }} Subscriptions:</h1>

    {% for subscription in subscriptions %}
    <p>Duration: {{ subscription.duration }} months</p>
    <p>Price: ${{ subscription.price }}</p>
    {% empty %}
    <p>No subscriptions available for this product.</p>
    {% endfor %}
  </body>
</html>
